/*

# Top-level files
!.gitignore
!chrome-flags.conf
!latexmkrc
!picom.conf
!profile
!redshift.conf
!starship.toml
!tmux.conf
!README.md

# Directories
!bash
!git
!i3
!i3status
!mpv
!mutt
!sxiv
!terminator
!vim
!vim_templates
